<div id="search-container">
  <form action="/items" id="search" name="search">
    <fieldset>
      <legend>Search for Geospatial Data</legend>
      <input name="q" placeholder="Keyword Search Terms" type="search" results="5" autosave="uva_gp_kw">

      <input type="hidden" name="westBL" id="ll-lon" value="-180">
      <input type="hidden" name="eastBL" id="ur-lon" value="180">
      <input type="hidden" name="southBL" id="ll-lat" value="-90">
      <input type="hidden" name="northBL" id="ur-lat" value="90">

      <!-- magic -->
      <input type="hidden" name="s" value="1">
      <input type="hidden" name="c" value="100">

      <input type="submit" value="Search">
    </fieldset>
    <p class="explanation">Optional: Click and drag to draw a bounding box for
    your search, then click the Search button. To zoom in on a specific area,
    hold down the <strong>Shift</strong> key while drawing the bounding box.
    To pan the map, hold down the <strong>Ctrl</strong> (PC) or 
    <strong>Option</strong> (Mac), then click and drag the map.</p>
    <div id="map"></div>
  </form>
</div>

<% content_for :jsfooter do %>
  <script>geoportal.searchMap('map');</script>
<% end %>
