<div id="search-container">
  <form action="/items" id="search" name="search">
    <fieldset>
      <legend>Search for Geospatial Data</legend>
      <input name="q" placeholder="Keyword Search Terms" type="search" results="5" autosave="uva_gp_kw">

      <!--
-179.1506
51.2097
 -129.9795
 71.4410
-->

      <%#http://localhost:5000/items?q=&westBL=-179.1506&southBL=-138.4471&eastBL=51.7044&northBL=73.5678&s=1&c=100%>
      <%#http://localhost:5000/items?q=&westBL=-179.1506&southBL=51.2097&eastBL=-129.9795&northBL=71.4410&s=1&c=100%>
      <input type="hidden" name="westBL" id="ll-lon" value="-180">
      <input type="hidden" name="eastBL" id="ur-lon" value="-90">
      <input type="hidden" name="southBL" id="ll-lat" value="180">
      <input type="hidden" name="northBL" id="ur-lat" value="90">

      <!-- magic -->
      <input type="hidden" name="s" value="1">
      <input type="hidden" name="c" value="100">

      <input type="submit" value="Search">
    </fieldset>
    <p class="explanation">Optional: Click and drag to draw a bounding box for your search. Hold shift to zoom and Ctrl (PC) or Option (Mac) to pan.</p>
    <div id="map"></div>
  </form>
</div>

<% content_for :jsfooter do %>
  <script>geoportal.searchMap('map');</script>
<% end %>
