<div id="search-container">
  <form action="/items" id="search" name="search">
    <fieldset>
      <legend>Search for Geospatial Data</legend>
      <input name="q" placeholder="Keyword Search Terms" type="search" results="5" autosave="uva_gp_kw">

      <input type="hidden" name="westBL" id="ll-lon" value="-180">
      <input type="hidden" name="southBL" id="ur-lon" value="-90">
      <input type="hidden" name="eastBL" id="ll-lat" value="180">
      <input type="hidden" name="northBL" id="ur-lat" value="90">
      <!-- magic -->
      <input type="hidden" name="s" value="1">
      <input type="hidden" name="c" value="25">

      <input type="submit" value="Search">
    </fieldset>
    <p class="explanation"><b>Optional</b>: Click and drag an area on the map to focus your search.</p>
    <p class="explanation">Click and drag to draw a bounding box for your search. Hold shift to zoom and Ctrl (PC) or Option (Mac) to pan.</p>
    <div id="map"></div>
  </form>
</div>

<% content_for :jsfooter do %>
  <script>geoportal.searchMap('map');</script>
<% end %>
