<form action="/search" id="search" name="search">
  <legend>Search for Geospatial Data</legend>
  <input name="kw" placeholder="Keyword Search Terms" type="search" results="5" autosave="uva_gp_kw">
  <input type="submit" value="Search">
</form>
