<h2>About This Site</h2>

<p><strong>Note: this website is intended as a preview of the Scholars' Lab Geospatial Data Portal, and the Scholars' Lab cannot guarantee stability at this time.</strong></p>

<h2>Discover and Explore Geospatial Data</h2>
<p>Welcome to the Scholars' Lab Geospatial Data Portal. Here you will be able to discover, explore, and use collections of geospatial data from here at the UVA Library and around the world. Data records contained in this portal are searchable by geographic extent, keyword, and time, and you can quickly preview data with our interactive mapping tool. Taking data directly into a GIS like ArcMap or Google Earth's virtual globe is quick and easy, as well.</p>

<h2>Getting Started</h2>
<p>For more information on searching, viewing, and connecting with our spatial data, please see the <a href="/help">Help section</a>.</p>

<h2>Building on Open-source Initiatives</h2>
<p>The Scholars' Lab Geospatial Data Portal is built on an open-source, web-services-based geospatial data infrastructure framework.  The datastore for this architecture is built on the <a href="http://postgis.refractions.net/">PostGIS</a> <a href="http://www.postgresql.org/">PostgreSQL</a> extension.  A majority of our spatial data is accessible through <a href="http://www.opengeospatial.org/standards">open web services</a>, such as WFS and WMS, via <a href="http://geoserver.org/">GeoServer</a>, while <a href="http://geonetwork-opensource.org/">GeoNetwork</a> enables metadata management and searching.  The online mapping tools used here are based on <a href="http://openlayers.org/">OpenLayers</a> and the OpenLayers- and ExtJS-based <a href="http://projects.opengeo.org/geoext/wiki/apps/geoview">GeoView</a>.  It goes without saying that the Scholars' Lab's efforts here would not have been possible without the hard work of the communities that support these applications.</p>

