<h2>Help</h2> 
<p> <strong>Note: this website is intended as a preview of the
  Scholars' Lab Geospatial Data Portal, and the Scholars' Lab cannot guarantee
  stability at this time.</strong> </p>

<ul>
  <li><a href='#search'>Searching the Collection</a></li>
  <li><a href='#results'>Exploring Search Results</a></li>
  <li><a href='#use'>Using Data</a></li> 
</ul>

<p> Can't find the answer to your question here?  Please <a
  href="http://www.scholarslab.org/help/">contact us</a>.  </p> 

<h2 id='search'>Searching the Collection</h2>
<p>To begin searching our geospatial
collection, type search terms into the box and click "search."  Additional
fields such as "title" and "abstract" may be accessed via the "advanced search"
link.</p>
<p>You may also restrict the geographic extent of your search.  To
select an area, draw a box on the map by clicking, dragging, and releasing the
left mouse button.  To zoom the map, click the the vertical bar on left side of
the map or hold the shift key then click and drag the mouse across the map.  To
pan across the map, click the directional arrows in the upper left corner of
the map or hold down the Ctrl or Alt key and then click and drag the map with
the mouse.</p>

<h2 id='results'>Exploring Search Results</h2>
<p>After clicking on the
"Search" button, the results of your search will begin to load.  The Scholars'
Lab Geospatial Data Portal groups geospatial data into collections called "data
stacks."  These data stacks aggregate individual layers by geographic,
thematic, and other categories.  A layer of information on Charlottesville's
rivers and streams might be found both in a "Charlottesville" geographical data
stack and in a "Hydrography" thematic data stack, for example.</p>

<p>For each
result, you can click on the result title to view the full metadata listing or
choose one of the links below the description to view the data.
<strong>Browser</strong> launches a map preview tool while <strong>KML</strong>
will access a KML file for loading all the data stack layers into Google Earth.
Note that for large data stacks, this may take some time.  You may load
individual maps and data layers by clicking on either "browser" or "KML" next
to the layer name in the item record.</p>

<h2 id='use'>Using Data</h2>

<h3>ArcMap</h3>
<p>If you are working on a UVA lab or classroom computer, this
connection should already exist.  Otherwise, you must use ArcGIS and create a
connection through ArcCatalog by using the following steps after locating the
service URL associated with the metadata record via the <strong>"Web
  Services"</strong> link:</p>

<p><strong>WMS:</strong> In the Catalog Tree,
expand "GIS Servers" and select "Add WMS Server."  Add your URL to the dialog
box and click the "Get Layers" button.  The service will now be available from
the "Add Data" button in ArcMap.</p>

<p><strong>WFS:</strong> In the Catalog
Tree, expand "Interoperability Connections" and double-click "Add
Interoperability Connection."  Select "Web Feature Service (WFS)" from the
Format pull down box.  Enter the WFS URL in the Dataset box and click
"Settings".  You can select the layers you wish by clicking the ellipsis button
next to the Table List box.</p>

<h3>Google Earth</h3> 
<p>For more information on Google Earth and a guide to
getting started, please see <a href="http://earth.google.com/support/">Google's
  support page</a>.</p>

