<%
  #@workspace = $CATALOG.get_workspace('McGregor')
#@wp2 = $CATALOG.get_workspace('Afghanistan')
%>

<%#def layer_type(workspace)%>
  <%#if(workspace.profile['dataStores'].any?)%>
    <%#type = 'vector'%>
   <%#elsif(workspace.profile['coverageStores'].any?)%>
    <%#type = 'raster'%>
  <%#end%>
<%#end%>


<%#def layers(workspace)%>
  <%#layers = nil%>
  <%#if(workspace.profile['dataStores'].any?)%>
    <%#layers = workspace.data_stores.first%>
  <%#elsif(workspace.profile['coverageStores'].any?)%>
    <%#layers = workspace.coverage_stores%>
  <%#end%>
  <%#layers%>
<%#end%>

<%#def vector_layers(datastore)%>

<%#end%>

<%#def raster_layers(datastore)%>
  
<%#end%>



<%#@ws_type = layer_type(@workspace)%>
<%#@wp2_type = layer_type(@wp2)%>

 

<div id="item_map"></div>


<script>
  var map;

  function init() {
    map = new OpenLayers.Map('item_map');
    map.addLayer(new OpenLayers.Layer.OSM());

    map.zoomToMaxExtent();
  }

  init();
</script>

<h1>Workspace</h1>

<%#= @workspace.coverage_stores.first.profile %>


<br/><br/>
<p>



<%# l = layers(@workspace) %>
<%# l.each do |layer| %>
  <%#= layer.profile %>
<% end %>
</p>

<h2>Raster:</h2>
<p>

<p>
<%# l = layers(@wp2) %>
<%# l.each do |layer| %>
  <%#= l.profile %>
  <%# end %>
</p>


</p>



