// ---------------------------------------------------------------------------
// Imports
@import "compass";
@import "compass/reset";
@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 0;

$show-grid-backgrounds  : true;
$container-style: fluid;
