// Imports

@import "base";
@import "colorbox";
@import "openlayers";

// Screen
@media screen {

  * {
    word-wrap: break-word;
  }

  @include border-box-sizing;

  html {
    background-color: #f3f3f3;
    border-top: 5px solid #389;
  }

  body {
    @include container;
    color: #444;
    font-family: Cabin, Verdana, sans-serif;
    background: #fff;
    margin: 0 10px;
    border: 1px solid rgba(0,0,0,0.2);
    border-width: 0 1px 1px;
    @include box-shadow(0 0 20px rgba(0,0,0,0.2));
  }

  a {
    &:link {
      color: #369;
    }

    &:visited {
      color: #38c;
    }

    &:hover,
    &:focus {
      color: #38c;
    }

    &:active {
      color: #036;
    }

    h1 &,
    h2 &,
    h3 & {
      text-decoration:none;
    }
  }

  #{headings(1,3)} {
    font-family: "Crimson Text", "Times New Roman", serif;

  }

  h1 {
    font-weight: bold;
    @include adjust-font-size-to(28px);
    @include adjust-leading-to(1, 28px);
    @include trailer(1, 28px);
  }

  h2 {
    @include adjust-font-size-to(24px);
    @include adjust-leading-to(1, 24px);
    @include leader(1, 24px);
    @include padding-trailer(0.25, 24px);
    margin-bottom:0;
    border-bottom: 1px dotted #ccc;

    & + * {
      margin-top:0 !important;
      padding-top: rhythm(0.25) !important;
    }
  }

  h3 {
    @include adjust-font-size-to(18px);
    color: #777;
    @include leader(1, 18px);
    & + * {
      margin-top:0 !important;
    }
  }

  h4 {
    @include trailer(0.25);
  }

  p {
    @include rhythm(1);
    @include adjust-leading-to(1);
  }

  br {
    line-height: 0.5;
  }
  b,strong {
    font-weight:bold;
  }

  i,italic {
    font-style:italic;
  }

  header[role=banner] {
    padding: 0 1em;
    h1 {
      @include adjust-font-size-to(32px);
      @include adjust-leading-to(2, 32px);
      margin:0;
    }

  }

  .introduction {
    font-family: "Crimson Text", "Times New Roman", serif;
    color: #999;
  }

  .content {
    padding: 1em;

    #search {
      background: #fcfcfc;
      border: 1px solid rgba(#333, 0.125);
      padding:1em;
      margin:1em 0;
    }
  }

  #search-container {
    background: #fcfcfc;
    border: 1px solid rgba(#333, 0.125);
    border-width: 1px 0 0;
  }

  #search {
    padding: 1em 0 0;
    fieldset {
      padding: 1em;
    }

    legend {
      color: #555;
    }
    .explanation {
      color: #555;
      margin: 0.5em 1em;
    }
  }

  #item_map {
    height: 400px;
    border: 1px solid #c0c0c0;
  }

  #layer-switcher-div {
    text-align:right;
    label {
      color: #999;
      @include adjust-font-size-to(13px);
    }
  }

  #map {
    height: 500px;
    border-top: 1px solid rgba(#333, 0.25);

  }

  #results {
    clear:both;
    .result {
      & + .result{
        border-top: 1px dotted #ccc;
      }

      .abstract {
        margin-top:0;
        br {
          display:none;
        }
      }

      h2 {
        border:none;
      }

      .keywords {
        color: #777;
        @include adjust-font-size-to(14px);
        @include adjust-leading-to(1, 14px);
      }
    }
  }

  .search-summary {
    @include adjust-font-size-to(20px);
    color: #777;
  }

  .utils {
    margin: rhythm(1) 0 0;
    text-align:right;

    span + span:before {
      content: "· ";
      color: #999;
    }
  }

  .layer-links {
    color: #aaa;
    @include adjust-font-size-to(14px);
    @include adjust-leading-to(1,14px);
    margin:0;
    li {
      display:inline;

      & + li:before {
        content: " · ";
        color: #ccc;
      }
    }
  }
  footer[role=contentinfo] {
    padding:2em;
    @include clearfix;
    text-align:center;
    border-top: 1px solid #ccc;

    p,.vcard {
      @include adjust-font-size-to(14px);
      @include adjust-leading-to(0.8, 14px);
      color: #777;
      margin:0;
    }
  }

  #social-media {
    p {
      margin: rhythm(1, 14px) 0 rhythm(0.5, 14px);
      color: #999;
    }

    a:link,
    a:visited {
      img {
        opacity: 0.5;
      }
    }
    a:hover,
    a:focus {
      img {
        opacity: 0.7;
      }
    }
    a:active {
      img {
        opacity: 0.9;
      }
    }
  }


  #uvalibrary {
    opacity: 0.4;
    width: 225px;
    margin: 20px auto;
    &:link,
    &:visited {
      opacity:0.4;
    }
    &:hover,
    &:focus {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.8;
    }

    img {
      max-width: 100%;
    }
  }

  #scholarslab {
    width: 100px;
    margin: 20px auto;
    opacity: 0.4;

    &:link,
    &:visited {
      opacity:0.4;
    }
    &:hover,
    &:focus {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.8;
    }

    img {
      max-width: 100%;
    }
  }

}

@media screen and (min-width: 720px) {

  body {
    margin: 0 40px;
    padding-top: 60px;
  }

  #search {
    fieldset {
      padding: 1em 2em;
    }

    .explanation {
      margin-left:2em;
      margin-right: 2em;
    }
  }

  .introduction {
    @include adjust-font-size-to(18px);
    margin-top:0;
  }

  #layers {
    float:right;
    width: 48%;
    margin-bottom: rhythm(1);
  }

  #abstract,
  #categories,
  #keywords,
  #arcgis_connection,
  #neatline_connection {
    margin-right: 52%;
  }

  footer[role="contentinfo"] {
    clear:both;
    @include clearfix;
    text-align:left;

    .vcard {
      @include span-columns(6, 12);
    }
    #social-media {
      @include span-columns(6 omega, 12);
      text-align:right;
    }
  }

  #global-footer {
    background: #f0f0f0;
    border-bottom: 1px solid #ddd;
    padding: 0.5em;
    position:absolute;
    top:5px;
    left:0;
    width: 100%;
    #scholarslab,
    #uvalibrary {
      display:inline;
      margin:0;
      float:left;
    }

    #scholarslab {
      float:right;
      width: 120px;
    }
  }



}
