// Imports

@import "base";
@import "colorbox";
@import "openlayers";

// Screen
@media screen {

  * {
    word-wrap: break-word;
  }

  @include border-box-sizing;

  html {
    background-color: #f3f3f3;
    border-top: 5px solid #389;
  }

  body {
    @include container;
    color: #444;
    font-family: Cabin, Verdana, sans-serif;
    background: #fff;
    margin: 0 10px;
    border: 1px solid rgba(0,0,0,0.2);
    border-width: 0 1px 1px;
    @include box-shadow(0 0 20px rgba(0,0,0,0.2));
  }

  a {
    &:link {
      color: #369;
    }

    &:visited {
      color: #38c;
    }

    &:hover,
    &:focus {
      color: #38c;
    }

    &:active {
      color: #036;
    }

    h1 &,
    h2 &,
    h3 & {
      text-decoration:none;
    }
  }

  #{headings(1,3)} {
    font-family: "Crimson Text", "Times New Roman", serif;

  }

  h1 {
    font-weight: bold;
    @include adjust-font-size-to(36px);
  }

  h2 {
    @include adjust-font-size-to(24px);
    @include leader(1);
    border-bottom: 1px dotted #ccc;
  }

  h3 {
    @include adjust-font-size-to(18px);
    color: #999;
    @include leader(1);
    @include trailer(0);

    & + * {
      margin-top:0 !important;
    }
  }

  p {
    @include rhythm(1);
    @include adjust-leading-to(1);
  }

  br {
    line-height: 0.5;
  }
  b,strong {
    font-weight:bold;
  }

  i,italic {
    font-style:italic;
  }

  header[role=banner] {
    padding: 1em 1em 0;

    hgroup {
      position:relative;
    }

    h1 {
      @include adjust-font-size-to(32px);
      @include adjust-leading-to(1.5);
    }

  }

  .introduction {
    font-family: "Crimson Text", "Times New Roman", serif;
    color: #999;
  }

  .content {
    padding: 1em;

    #search {
      background: #fcfcfc;
      border: 1px solid rgba(#333, 0.125);
      padding:1em;
      margin:1em 0;
    }
  }

  #search-container {
    background: #fcfcfc;
    border: 1px solid rgba(#333, 0.125);
    border-width: 1px 0 0;
  }

  #search {
    padding: 1em 0 0;
    fieldset {
      padding: 1em;
    }

    legend {
      color: #555;
    }
    .explanation {
      color: #555;
      margin: 0.5em 1em;
    }
  }

  #item_map {
    height: 400px;
    border: 1px solid #c0c0c0;
  }

  #map {
    height: 500px;
    border-top: 1px solid rgba(#333, 0.25);

  }

  #results {
    clear:both;
    .result {
      padding: 0 0 rhythm(1) 0;
      border-top: 1px dotted #ccc;

      h2 {
        margin-top:0;
        border:none;
      }

      .keywords {
        color: #777;
        @include adjust-font-size-to(14px);
        @include adjust-leading-to(1.5);
      }
    }
  }

  .search-summary {
    @include adjust-font-size-to(20px);
    color: #777;
  }

  .utils {
    margin: rhythm(1) 0 0;
    text-align:right;

    span + span:before {
      content: "· ";
      color: #999;
    }
  }

  .layer-links {
    color: #aaa;
    font-size: 1em;

    li {
      display:inline;

      & + li:before {
        content: " · ";
        color: #ccc;
      }
    }
  }
  footer[role=contentinfo] {
    padding:2em;
    @include clearfix;
    text-align:center;
    border-top: 1px solid #ccc;
    padding-top:2em !important;
  }

  #slab-vcard {
    @include adjust-leading-to(1);
  }
  #uvalibrary {
    opacity: 0.4;
    width: 225px;
    margin: 20px auto;
    &:link,
    &:visited {
      opacity:0.4;
    }
    &:hover,
    &:focus {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.8;
    }

    img {
      max-width: 100%;
    }
  }

  #scholarslab {
    width: 100px;
    margin: 20px auto;
    opacity: 0.4;

    &:link,
    &:visited {
      opacity:0.4;
    }
    &:hover,
    &:focus {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.8;
    }

    img {
      max-width: 100%;
    }
  }

}

@media screen and (min-width: 720px) {

  body {
    margin: 0 40px;
    position:relative;
  }

  header[role=banner] {
    padding: 100px 2em 20px;
    @include clearfix;

    h1 {
      @include adjust-font-size-to(46px);
      @include adjust-leading-to(1);
    }

  }

  .content {
    padding: 20px 2em;
  }

  #search {
    fieldset {
      padding: 1em 2em;
    }

    .explanation {
      margin-left:2em;
      margin-right: 2em;
    }
  }

  .introduction {
    @include adjust-font-size-to(18px);
  }

  footer[role="contentinfo"] {
    text-align:left;
  }

  #uvalibrary,
  #scholarslab {
    position:absolute;
    top: 20px;
  }

  #uvalibrary {
    left: 0;
  }

  #scholarslab {
    right:30px;
  }

}
